html {border:20px;}
body {background-color: #efeee7;
	margin: 0;
	padding: 0;
	font-family: "arial","helvetica neue", "helvetica", "sans-serif"
	line-height:150%;
	font-size:18px;
}
header{background-color:white;
       margin-top: 0px;
       padding-top: 0PX;
       }
h1{
	margin-left:0%;
	width:15%;
	background-color:#4aaaa5;
	color:white;

}
 
}
h2 
        {
        background-color:white;
        margin: 0;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: "georgia","times","times new roman","serif";
       
}

p {text-align: left;}

footer {background-color: #666666;
        text-align: center;
        font-size: 20px;}
 